<form action="/milestones/edit", method="post">
  <input type="hidden" name="milestone[_id]" value="<%- (milestone) ? milestone._id : null %>" />
  <input type="hidden" name="milestone[project_code]" value="<%- project.code %>" />

  <label for="milestone[name]">Name</label>
  <input type="text" name="milestone[name]" value="<%- (milestone) ? milestone.name : null %>" />

  <br />

  <button class="btn btn-primary">Save</button>
</form>