<a class="btn btn-small" style="float:right" href="/projects/<%- project_code %>/milestones/new">
  <i class="icon-file icon-black"></i>
  Create a new milestone
</a>

<h3>Milestones</h3>


<br />

<table class="table table-bordered table-striped table-condensed">
  <tr>
    <th>Name</th>
    <th>Actions</th>
  </tr>
<% if ((milestones) && (milestones.length)) { %>
  <% milestones.forEach(function(milestone){ %>
  <tr>
    <td>
      <%- milestone.name %> 
    </td>
    <td style="width:20%;text-align:center">
      <a class="btn btn-mini btn-primary" href="#">
        <i class="icon-edit icon-white"></i>
        Edit
      </a>
      
      <a class="btn btn-mini btn-danger" href="#" onclick="return confirm('Do you really want to delete <%- project.name %>?');">
        <i class="icon-trash icon-white"></i>
        Delete
      </a>
    </td>
  </tr>
  <% }) %>
<% } %>
</table>
