{{> header}}

<% if (projects.length) { %>
  <table class="table table-bordered table-striped">
    <tr>
      <th>Name</th>
      <th>Actions</th>
    </tr>
    <% projects.forEach(function(project){ %>
    <tr>
      <td>
        <%- project.name %>
      </td>
      <td style="width:20%;text-align:center">
        <a class="btn btn-primary" href="/projects/edit/<%- project.code %>">
          <i class="icon-edit icon-white"></i>
          Edit
        </a>

        <a class="btn btn-danger" href="/projects/delete/<%- project.code %>" onclick="return confirm('Do you really want to delete <%- project.name %>?');">
          <i class="icon-trash icon-white"></i>
          Delete
        </a>
      </td>
    </tr>
    <% }) %>
  </table>
<% } %>

<a class="btn" href="/projects/new">
  <i class="icon-file icon-black"></i>
  Create a new project
</a>

{{> footer}}