{{> header}}

{{#if projects}}
  <table class="table table-bordered table-striped">
    <tr>
      <th>Name</th>
      <th>Actions</th>
    </tr>
    {{#each projects}}
      <tr>
        <td>
          {{name}}
        </td>
        <td style="width:20%;text-align:center">
          <a class="btn btn-primary" href="/projects/edit/{{code}}">
            <i class="icon-edit icon-white"></i>
            Edit
          </a>

          <a class="btn btn-danger" href="/projects/delete/{{code}}" onclick="return confirm('Do you really want to delete {{name}}?');">
            <i class="icon-trash icon-white"></i>
            Delete
          </a>
        </td>
      </tr>
    {{/each}}
  </table>
{{/if}}

<a class="btn" href="/projects/new">
  <i class="icon-file icon-black"></i>
  Create a new project
</a>

{{> footer}}